<a
  (click)="onSelectCard()"
  href="#"
  class="list-group-item-action"
  data-toggle="modal"
  [attr.data-target]="'#viewCardModal' + card.id"
  ><app-card-title [title]="card.title"></app-card-title>
</a>
<div
  class="modal fade"
  id="viewCardModal{{ card.id }}"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="'#viewCardModal' + card.id"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title font-weight-bold" id="exampleModalLabel">
          {{ card.title }}
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-card-details></app-card-details>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
