<div class="container">
  <div class="row">
    <div class="col-12">
      <button (click)="this.modal.open()" class="btn btn-primary">
        Create a new board
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">
          <h1>Your boards</h1>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let board of boards">
                <th scope="row">{{ board.id! }}</th>
                <td>{{ board.title }}</td>
                <td>
                  <a routerLink="/board/{{ board.id! }}"
                    ><button class="btn btn-primary">
                      <i class="fas fa-eye"></i></button
                  ></a>
                  <button
                    (click)="onDeleteBoard(board.id!)"
                    class="btn btn-danger"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal #modal [modalConfig]="modalConfig">
  <div class="title">Create a new board</div>
  <div class="m-content">
    <div class="form-group">
      <label for="boardTitle">Board title</label>
      <input
        [(ngModel)]="boardTitle"
        type="text"
        class="form-control"
        id="boardTitle"
        placeholder="Enter board title"
      />
    </div>
  </div>
  <div class="footer">
    <span>
      <button class="btn btn-primary" (click)="onCreateBoard()">Create</button>
    </span>
    <span>
      <button class="btn btn-secondary" (click)="this.modal.close()">
        Cancel
      </button>
    </span>
  </div>
</app-modal>
