<div class="row">
  <div class="col-12">
    <ngb-datepicker
      #dp
      [(ngModel)]="selectedDate1"
      (dateSelect)="onDateSelect($event)"
      (navigate)="date = $event.next"
    ></ngb-datepicker>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="input-group">
      <input
        [(ngModel)]="selectedDate2"
        (input)="onInputDateChange($event)"
        type="text"
        class="form-control"
      />
      <span class="input-group-append">
        <span class="input-group-text bg-white">
          <i class="fa fa-calendar"></i>
        </span>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button (click)="onSaveDate()" class="btn btn-primary">Save</button>
  </div>
</div>

<div *ngIf="operation == 'update'" class="row">
  <div class="col-12">
    <button (click)="onDeleteDate()" class="btn btn-secondary">Remove</button>
  </div>
</div>
