<div class="card">
  <div class="card-header">
    <h4>Log in</h4>
  </div>
  <div class="card-body">
    <app-error-container
      *ngIf="isAuthenticationFailed"
      message="Authentication failed"
    ></app-error-container>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="form-group">
        <label
          for="email"
          [class.text-danger]="emailControl.invalid && emailControl.touched"
          >Email address</label
        >
        <input
          [(ngModel)]="email"
          type="text"
          id="email"
          name="email"
          class="form-control"
          [class.is-invalid]="emailControl.invalid && emailControl.touched"
          placeholder="john.doe@gmail.com"
          required
          email
          #emailControl="ngModel"
        />
        <span
          class="text-danger"
          *ngIf="emailControl.invalid && emailControl.touched"
          >Email is required</span
        >
      </div>
      <div class="form-group">
        <label
          for="password"
          [class.text-danger]="
            passwordControl.invalid && passwordControl.touched
          "
          >Password</label
        >
        <input
          [(ngModel)]="password"
          type="password"
          id="password"
          name="password"
          class="form-control"
          [class.is-invalid]="
            passwordControl.invalid && passwordControl.touched
          "
          required
          #passwordControl="ngModel"
        />
        <span
          class="text-danger"
          *ngIf="passwordControl.invalid && passwordControl.touched"
          >Password is required</span
        >
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <div style="margin-top: 1rem">
        <span class="text-muted"> Don't have an account? </span>
        <span class="btn btn-link" (click)="onClickToSignUp()">Sign up</span>
      </div>
    </form>
  </div>
</div>
