<div class="card">
  <div class="card-header">
    <h4>Log in</h4>
  </div>
  <div class="card-body">
    <app-error-container
      *ngIf="isAuthenticationFailed"
      message="Authentication failed"
    ></app-error-container>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        [(ngModel)]="email"
        type="text"
        id="email"
        class="form-control"
        placeholder="john.doe@gmail.com"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        type="password"
        id="password"
        class="form-control"
        required
      />
    </div>
    <button (click)="onLogin()" class="btn btn-primary">Login</button>

    <div style="margin-top: 1rem">
      <span class="text-muted"> Don't have an account? </span>
      <span class="btn btn-link" (click)="onClickToSignUp()">Sign up</span>
    </div>
  </div>
</div>
