<div class="row">
  <div class="col-12">
    <button class="btn btn-light">
      <i class="fa-solid fa-user"></i> Members
    </button>
  </div>
</div>
<div class="row">
  <ng-template #addLabels>
    <app-card-tag></app-card-tag>
  </ng-template>
  <div class="col-12">
    <button
      class="btn btn-light"
      type="button"
      class="btn btn-light"
      placement="auto"
      [autoClose]="'outside'"
      [ngbPopover]="addLabels"
      popoverTitle="Labels"
    >
      <i class="fa-solid fa-tag"></i> Labels
    </button>
  </div>
</div>
<div *ngIf="card.deadline == null" class="row">
  <ng-template #datePicker>
    <app-card-date
      operation="create"
      (updateDate)="updateDueDate($event)"
    ></app-card-date>
  </ng-template>
  <div class="col-12">
    <button
      type="button"
      class="btn btn-light"
      placement="auto"
      [autoClose]="'outside'"
      [ngbPopover]="datePicker"
      popoverTitle="Dates"
    >
      <i class="fa-solid fa-clock"></i> Dates
    </button>
  </div>
</div>
<div *ngIf="card.url == ''" class="row">
  <ng-template #addLinkForm>
    <div class="form-group">
      <label for="cardLink">Attach a link</label>
      <input
        type="text"
        class="form-control"
        id="cardLink"
        [(ngModel)]="cardLink"
        placeholder="Paste any link here..."
      />
    </div>
    <button class="btn btn-primary" (click)="onAddLink()">Add link</button>
  </ng-template>
  <div class="col-12">
    <button
      placement="auto"
      [autoClose]="'outside'"
      [ngbPopover]="addLinkForm"
      popoverTitle="Attach from..."
      class="btn btn-light"
    >
      <i class="fa-solid fa-link"></i> Attachment
    </button>
  </div>
</div>
