<div class="row">
  <div class="col-12">
    <button class="btn btn-light">
      <i class="fa-solid fa-user"></i> Members
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-light"><i class="fa-solid fa-tag"></i> Tags</button>
  </div>
</div>
<div *ngIf="card.deadline == null" class="row">
  <ng-template #datePicker>
    <app-card-date
      operation="create"
      (updateDate)="updateDueDate($event)"
    ></app-card-date>
  </ng-template>
  <div class="col-12">
    <button
      type="button"
      class="btn btn-light"
      placement="left"
      [autoClose]="'outside'"
      [ngbPopover]="datePicker"
      popoverTitle="Add a due date"
    >
      <i class="fa-solid fa-clock"></i> Due date
    </button>
  </div>
</div>
<div *ngIf="card.url == ''" class="row">
  <div class="col-12">
    <button class="btn btn-light"><i class="fa-solid fa-link"></i> Link</button>
  </div>
</div>
