* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  min-height: 100vh;
}

.sticky-footer {
  position: sticky;
  top: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.row,
.card {
  margin-top: 1rem;
}

.scroll {
  max-height: 25rem;
  overflow-y: auto;
}
