<app-card-section>
  <div class="section-header">
    <h5 class="font-weight-bold">
      <span class="section-icon"
        ><i class="fa-solid fa-bars-staggered"></i></span
      >Description
      <span *ngIf="!isUpdating && card.description != ''">
        <button (click)="onUpdateDescription()" class="btn btn-light">
          Update
        </button>
      </span>
    </h5>
  </div>
  <div class="section-body">
    <div class="section-content" *ngIf="!isUpdating && card.description != ''">
      {{ card.description }}
    </div>
    <div class="section-content">
      <button
        (click)="onUpdateDescription()"
        class="btn btn-light"
        *ngIf="!isUpdating && card.description == ''"
      >
        Add a more detailed description...
      </button>
      <div *ngIf="isUpdating">
        <div class="row">
          <div class="col-12">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              [(ngModel)]="textareaText"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row btns-section">
              <div class="col-6">
                <button
                  (click)="onSaveNewDescription()"
                  class="btn btn-primary"
                >
                  Save
                </button>
              </div>
              <div class="col-6">
                <i
                  (click)="isUpdating = false; setTextareaText()"
                  class="fa-solid fa-xmark fa-2x"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card-section>
